.DS_Store
.classpath
.project
.gradle/
.settings/
options.txt
bin/
mods/
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
asm/
config/
blueprints/
forgeSrc.zip
screenshots/
build/
forge-1.7.10-10.13.3.1401-1710ls-changelog.txt
crash-reports/
eclipse/
saves/
resourcepacks/
screenshots/
stencil1.png
stencil2.png
stencil3.png
usernamecache.json
logs/
